@import 'nib/vendor'
@import 'nib/gradients'
@import 'utils.styl'

m = 2vh
c1 = orange
c2 = pink
char1 = denis
char2 = gab

// Import line dedicated styles
@import 'lines.styl'

body
  font 20px/25px arial, sans-serif
  background #000
  padding m
  &>header, .credits
    position absolute
    text-align center
    width auto
    top 2px
    left m*2
    font-size .6em
  .credits
    right m*2
    left auto
  header
    form, select
      display inline
.content
  position absolute
  top m
  left m
  width "calc(100% - %s)" % (m*4)
  height "calc(100vh - %s)" % (m*4)
  overflow-y auto
  margin m
  padding m
  background black
  display grid
  grid-template-columns 1fr 1fr
  grid-auto-flow column
  align-content end
  .linebox
    margin-bottom 10px
    grid-column 1 / span 2
    display none
    &.shown
      display flex
    &.showtext
      .typing
        display none!important
      .text
        display inline!important
    .line
      display flex
      .bubble
        padding m
        border-radius m*.5
        position relative
        align-self center
        border 2px solid
        img
          display block
          max-height 500px
        .typing
          display inline
        .text
          display none
        &:after
          display none
          content ' '
          position absolute
          width 0
          height 0
          top m
          bottom auto
          border m solid
      .charpp
        display flex
        color gray
        border 2px solid
        border-color gray
        border-radius m*5
        width m*5
        height m*5
        margin m
        span
          align-self center
          flex 1 1 auto
          text-align center
      .logdelay
        display none
    &.char-denis, &.char-d, &.char-paul
      justify-content flex-start
      .line
        .bubble
          border-color lighten(c1,50%)
          color c1
          &:after
            left -3.5vh
            right auto
            border-color transparent lighten(c1,50%) transparent transparent
        .charpp
          order 0
          color c1
          border-color c1
    &.char-gab, &.char-g
      justify-content flex-end
      .line
        .bubble
          border-color lighten(c2,50%)
          color c2
          &:after
            right -3.5vh
            left auto
            border-color transparent transparent transparent lighten(c2,50%)
        .charpp
          order 3
          color c2
          border-color c2
    &.char-system
      justify-content center
      .line .bubble
        text-align center
        color #666
        &:after
          display none
      .charpp
        display none

img.nopiece
  width 20%
  display block
  margin 0 auto
a
  color inherit
b
  font-weight bold
i
  font-style italic
