gutter = 5px

.linebox
  .line .bubble
    transition all .8s ease-in-out
    transform rotate(0deg)
  &.roll
    .line .bubble
      transform rotate(-360deg)
.content
  transition all .2s ease-in
  &.invert
    transform rotateZ(-79deg) scale(.5, 1)
  &.blur
    filter blur(2px)

body.chaos
  background black

body.do-ghost-notes-breathe
  .text
    color black
    font-size m * 2.5
    b
      color white
  iframe
    border-radius 20px
    width 50vw
    height 300px
    position relative
    // border 1px solid gray
body.frame-do-ghost-notes-breathe
  content ""
  border-radius 20px
  box-shadow inset 0 0 10vw gray


.content.split
  .linebox.f1, .linebox.f2
    position relative
    &:after
      position absolute
      bottom 0
      left - gutter *.5
      content ""
      border-radius 10px
      background #ccc
      // box-shadow inset 0 0 10px #000000
      width gutter
      height 130%
  .linebox.f1
    &:after
      right - gutter *.5
      left auto
  .linebox.f1
    grid-column 1 / 2
    grid-row auto
    padding-right gutter *.5
  .linebox.f2
    grid-column 2 / 3
    grid-row auto
    padding-left gutter *.5
.content.newsystem
  .char-system .bubble
    color black
    background #222
    color black
    font-size .7em
    padding 3px
