@import 'nib/vendor'
@import 'nib/gradients'
@import 'utils.styl'

m = 1vw
c1 = white
c2 = black
bg = #999
char1 = denis
char2 = gab

// Import line dedicated styles
@import 'lines.styl'
html,body
  height 100%

body
  font 20px/25px arial, sans-serif
  background bg
  padding m
  &>header, .credits
    position absolute
    text-align center
    width auto
    top 2px
    left m*2
    font-size .6em
    z-index 3
  &.prod
    &>header, .credits
      display none
  .credits
    right m*2
    left auto
  header
    form, select
      display inline
.content
  position absolute
  bottom m
  left m
  width "calc(100% - %s)" % (m*4)
  // height "calc(100vh - %s)" % (m*4)
  overflow-y auto
  margin m
  padding m
  // background bg
  display grid
  grid-template-columns 1fr 1fr
  grid-auto-flow column
  align-content end
  .linebox
    margin-bottom 10px
    grid-column 1 / span 2
    display none
    height auto
    &.shown
      display flex
      animation growline .2s ease-in-out forwards
      .line .charpp
        animation popbubble .2s ease-in-out forwards
    &.showtext
      .typing
        display none!important
      .text
        display inline!important
    .line
      display flex
      .bubble
        padding m
        border-radius m*.5
        position relative
        align-self center
        // border 2px solid
        img
          display block
          max-height 500px
        .typing
          display inline
        .text
          display none
        &:after
          display none
          content ' '
          position absolute
          width 0
          height 0
          top m
          bottom auto
          border m solid
      .charpp
        transition all 2s ease-in-out
        transform scale(0)
        display flex
        color gray
        // border 2px solid
        // border-color gray
        border-radius m*5
        width m*5
        height m*5
        margin m
        span
          align-self center
          flex 1 1 auto
          text-align center
      .logdelay
        display none
    &.char-denis, &.char-d, &.char-paul
      justify-content flex-start
      .line
        .bubble
          color c1
          &:after
            left -3.5vh
            right auto
            // border-color transparent lighten(c1,50%) transparent transparent
        .charpp
          order 0
          color transparent
          background c1
    &.char-gab, &.char-g
      justify-content flex-end
      .line
        .bubble
          color c2
          &:after
            right -3.5vh
            left auto
            border-color transparent transparent transparent lighten(c2,50%)
        .charpp
          order 3
          color transparent
          background c2
    &.char-system
      justify-content center
      .line .bubble
        text-align center
        color #666
        &:after
          display none
      .charpp
        display none

body.nopiece
  background bg url(../img/icon2.svg) no-repeat center center
  background-size 30%

.ellipsis
    font-size 1em
    position relative
    i:nth-child(1)
      position relative
      animation ellipsis 2s infinite ease-out 0s
    i:nth-child(2)
      position relative
      animation ellipsis 2s infinite ease-out .3s
    i:nth-child(3)
      position relative
      animation ellipsis 2s infinite ease-out .6s

@keyframes ellipsis {
  0% { bottom: 0em; }
  50% { bottom: .5em; opacity:.2; }
  100% { bottom: 0em; }
}

@keyframes popbubble {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes growline {
  0% { max-height: 0;overflow: hidden; }
  100% { max-height: 300px; }
}
a
  color inherit
b
  font-weight bold
i
  font-style italic
