html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.linebox .line .bubble {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  -ms-transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.linebox.roll .line .bubble {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
.content {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  -ms-transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.content.invert {
  -webkit-transform: rotateZ(-79deg) scale(0.5, 1);
  -moz-transform: rotateZ(-79deg) scale(0.5, 1);
  -o-transform: rotateZ(-79deg) scale(0.5, 1);
  -ms-transform: rotateZ(-79deg) scale(0.5, 1);
  transform: rotateZ(-79deg) scale(0.5, 1);
}
.content.blur {
  filter: blur(2px);
}
body.chaos {
  background: #000;
}
body.do-ghost-notes-breathe .text {
  color: #000;
  font-size: 2.5vw;
}
body.do-ghost-notes-breathe .text b {
  color: #fff;
}
body.do-ghost-notes-breathe iframe {
  border-radius: 20px;
  width: 50vw;
  height: 300px;
  position: relative;
}
body.frame-do-ghost-notes-breathe {
  content: "";
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 10vw #808080;
  box-shadow: inset 0 0 10vw #808080;
}
.content.split .linebox.f1,
.content.split .linebox.f2 {
  position: relative;
}
.content.split .linebox.f1:after,
.content.split .linebox.f2:after {
  position: absolute;
  bottom: 0;
  left: -2.5px;
  content: "";
  border-radius: 10px;
  background: #ccc;
  width: 5px;
  height: 130%;
}
.content.split .linebox.f1:after {
  right: -2.5px;
  left: auto;
}
.content.split .linebox.f1 {
  grid-column: 1/2;
  grid-row: auto;
  padding-right: 2.5px;
}
.content.split .linebox.f2 {
  grid-column: 2/3;
  grid-row: auto;
  padding-left: 2.5px;
}
.content.newsystem .char-system .bubble {
  color: #000;
  background: #222;
  color: #000;
  font-size: 0.7em;
  padding: 3px;
}
html,
body {
  height: 100%;
}
body {
  font: 20px/25px arial, sans-serif;
  background: #999;
  padding: 1vw;
}
body>header,
body .credits {
  position: absolute;
  text-align: center;
  width: auto;
  top: 2px;
  left: 2vw;
  font-size: 0.6em;
  z-index: 3;
}
body.prod>header,
body.prod .credits {
  display: none;
}
body .credits {
  right: 2vw;
  left: auto;
}
body header form,
body header select {
  display: inline;
}
.content {
  position: absolute;
  bottom: 1vw;
  left: 1vw;
  width: calc(100% - 4vw);
  overflow-y: auto;
  margin: 1vw;
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  align-content: end;
}
.content .linebox {
  margin-bottom: 10px;
  grid-column: 1/span 2;
  display: none;
  height: auto;
}
.content .linebox.shown {
  display: flex;
  -webkit-animation: growline 0.2s ease-in-out forwards;
  -moz-animation: growline 0.2s ease-in-out forwards;
  -o-animation: growline 0.2s ease-in-out forwards;
  -ms-animation: growline 0.2s ease-in-out forwards;
  animation: growline 0.2s ease-in-out forwards;
}
.content .linebox.shown .line .charpp {
  -webkit-animation: popbubble 0.2s ease-in-out forwards;
  -moz-animation: popbubble 0.2s ease-in-out forwards;
  -o-animation: popbubble 0.2s ease-in-out forwards;
  -ms-animation: popbubble 0.2s ease-in-out forwards;
  animation: popbubble 0.2s ease-in-out forwards;
}
.content .linebox.showtext .typing {
  display: none !important;
}
.content .linebox.showtext .text {
  display: inline !important;
}
.content .linebox .line {
  display: flex;
}
.content .linebox .line .bubble {
  padding: 1vw;
  border-radius: 0.5vw;
  position: relative;
  align-self: center;
}
.content .linebox .line .bubble img {
  display: block;
  max-height: 500px;
}
.content .linebox .line .bubble .typing {
  display: inline;
}
.content .linebox .line .bubble .text {
  display: none;
}
.content .linebox .line .bubble:after {
  display: none;
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 1vw;
  bottom: auto;
  border: 1vw solid;
}
.content .linebox .line .charpp {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  -ms-transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -ms-transition-duration: 2s;
  transition-duration: 2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: flex;
  color: #808080;
  border-radius: 5vw;
  width: 5vw;
  height: 5vw;
  margin: 1vw;
}
.content .linebox .line .charpp span {
  align-self: center;
  flex: 1 1 auto;
  text-align: center;
}
.content .linebox .line .logdelay {
  display: none;
}
.content .linebox.char-denis,
.content .linebox.char-d,
.content .linebox.char-paul {
  justify-content: flex-start;
}
.content .linebox.char-denis .line .bubble,
.content .linebox.char-d .line .bubble,
.content .linebox.char-paul .line .bubble {
  color: #fff;
}
.content .linebox.char-denis .line .bubble:after,
.content .linebox.char-d .line .bubble:after,
.content .linebox.char-paul .line .bubble:after {
  left: -3.5vh;
  right: auto;
}
.content .linebox.char-denis .line .charpp,
.content .linebox.char-d .line .charpp,
.content .linebox.char-paul .line .charpp {
  order: 0;
  color: transparent;
  background: #fff;
}
.content .linebox.char-gab,
.content .linebox.char-g {
  justify-content: flex-end;
}
.content .linebox.char-gab .line .bubble,
.content .linebox.char-g .line .bubble {
  color: #000;
}
.content .linebox.char-gab .line .bubble:after,
.content .linebox.char-g .line .bubble:after {
  right: -3.5vh;
  left: auto;
  border-color: transparent transparent transparent #808080;
}
.content .linebox.char-gab .line .charpp,
.content .linebox.char-g .line .charpp {
  order: 3;
  color: transparent;
  background: #000;
}
.content .linebox.char-system {
  justify-content: center;
}
.content .linebox.char-system .line .bubble {
  text-align: center;
  color: #666;
}
.content .linebox.char-system .line .bubble:after {
  display: none;
}
.content .linebox.char-system .charpp {
  display: none;
}
body.nopiece {
  background: #999 url("../img/icon2.svg") no-repeat center center;
  -webkit-background-size: 30%;
  -moz-background-size: 30%;
  background-size: 30%;
}
.ellipsis {
  font-size: 1em;
  position: relative;
}
.ellipsis i:nth-child(1) {
  position: relative;
  -webkit-animation: ellipsis 2s infinite ease-out 0s;
  -moz-animation: ellipsis 2s infinite ease-out 0s;
  -o-animation: ellipsis 2s infinite ease-out 0s;
  -ms-animation: ellipsis 2s infinite ease-out 0s;
  animation: ellipsis 2s infinite ease-out 0s;
}
.ellipsis i:nth-child(2) {
  position: relative;
  -webkit-animation: ellipsis 2s infinite ease-out 0.3s;
  -moz-animation: ellipsis 2s infinite ease-out 0.3s;
  -o-animation: ellipsis 2s infinite ease-out 0.3s;
  -ms-animation: ellipsis 2s infinite ease-out 0.3s;
  animation: ellipsis 2s infinite ease-out 0.3s;
}
.ellipsis i:nth-child(3) {
  position: relative;
  -webkit-animation: ellipsis 2s infinite ease-out 0.6s;
  -moz-animation: ellipsis 2s infinite ease-out 0.6s;
  -o-animation: ellipsis 2s infinite ease-out 0.6s;
  -ms-animation: ellipsis 2s infinite ease-out 0.6s;
  animation: ellipsis 2s infinite ease-out 0.6s;
}
a {
  color: inherit;
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
@-moz-keyframes ellipsis {
  0% {
    bottom: 0em;
  }
  50% {
    bottom: 0.5em;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  100% {
    bottom: 0em;
  }
}
@-webkit-keyframes ellipsis {
  0% {
    bottom: 0em;
  }
  50% {
    bottom: 0.5em;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  100% {
    bottom: 0em;
  }
}
@-o-keyframes ellipsis {
  0% {
    bottom: 0em;
  }
  50% {
    bottom: 0.5em;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  100% {
    bottom: 0em;
  }
}
@keyframes ellipsis {
  0% {
    bottom: 0em;
  }
  50% {
    bottom: 0.5em;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  100% {
    bottom: 0em;
  }
}
@-moz-keyframes popbubble {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes popbubble {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes popbubble {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes popbubble {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes growline {
  0% {
    max-height: 0;
    overflow: hidden;
  }
  100% {
    max-height: 300px;
  }
}
@-webkit-keyframes growline {
  0% {
    max-height: 0;
    overflow: hidden;
  }
  100% {
    max-height: 300px;
  }
}
@-o-keyframes growline {
  0% {
    max-height: 0;
    overflow: hidden;
  }
  100% {
    max-height: 300px;
  }
}
@keyframes growline {
  0% {
    max-height: 0;
    overflow: hidden;
  }
  100% {
    max-height: 300px;
  }
}
